main {
  width: 100%;
}

.nav-button {
  background-color: #320039;
  border: none;
}

body {
  background: #320039;
}

@media (max-width: 768px) {
  .nav-button {
    border-bottom: 1px solid #65256d;
  }
}